div.loggingin {
    overflow: hidden;
    margin: auto;
    margin-top: 10rem;
    padding: 5rem;
    font-size: 3rem;
}

.dash {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
