/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Oswald', 'sans-serif';
  font-size: 16px;
}
.app {
  width: 100vw;
  overflow-x: hidden;
}
.app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  background-color: lightskyblue;
  overflow: hidden;
}
.nav div :hover {
  background-color: white;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
.nav div a {
  text-decoration: none;
  color: black;
}
.nav div a h1 {
  padding: 2rem;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .nav div a h1 {
    font-size: 1.3rem;
    padding: 0.2rem;
  }
}
@media (max-width: 320px) {
  .nav div a h1 {
    font-size: 1.2rem;
    padding: 0.1rem;
  }
}
.nav div a h2 {
  padding: 2rem;
}
@media (max-width: 500px) {
  .nav div a h2 {
    padding: 0.6rem;
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .nav div a h2 {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40rem;
  box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 800px) {
  .main {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
}
.main div.main1 h1.title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .main div.main1 h1.title {
    display: flex;
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .main div.main1 h1.title {
    display: flex;
    font-size: 3rem;
  }
}
.main div.main1 span.mainspan1 {
  display: none;
}
@media (max-width: 500px) {
  .main div.main1 span.mainspan1 {
    display: flex;
    font-size: 5rem;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .main div.main1 span.mainspan1 {
    display: flex;
    font-size: 5rem;
    text-align: center;
    justify-content: center;
  }
}
.main div.main1 p.titleHelper {
  margin-left: 2rem;
  margin-top: 3rem;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .main div.main1 p.titleHelper {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .main div.main1 p.titleHelper {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}
.main div.main2 span.mainspan2 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .main div.main2 span.mainspan2 {
    display: none;
  }
}
@media (max-width: 320px) {
  .main div.main2 span.mainspan2 {
    display: none;
  }
}
.main div.main2 a {
  text-decoration: none;
  color: black;
}
.main div.main2 a :hover {
  background-color: skyblue;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
.main div.main2 a p {
  margin-top: 3rem;
  padding: 2rem;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .main div.main2 a p {
    margin-top: 0rem;
    padding: 1rem;
  }
}
.about {
  display: flex;
  justify-content: left;
  background-color: #bae9ff;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
}
.about h2 {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.8);
}
@media (max-width: 800px) {
  .about h2 {
    margin: 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about h2 {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .about h2 {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
  }
}
.about div.aboutsection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 1001px) {
  .about div.aboutsection {
    margin-left: 5rem;
  }
}
@media (max-width: 1000px) {
  .about div.aboutsection {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media (max-width: 800px) {
  .about div.aboutsection {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .about div.aboutsection {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media (max-width: 320px) {
  .about div.aboutsection {
    flex-direction: column;
    margin-top: 1rem;
  }
}
.about div.aboutsection .about1 ul {
  list-style-type: square;
}
.about div.aboutsection .about1 ul li {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}
@media (min-width: 1001px) {
  .about div.aboutsection .about1 ul li {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media (max-width: 1000px) {
  .about div.aboutsection .about1 ul li {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (max-width: 800px) {
  .about div.aboutsection .about1 ul li {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (max-width: 500px) {
  .about div.aboutsection .about1 ul li {
    margin: 3rem;
  }
}
@media (max-width: 320px) {
  .about div.aboutsection .about1 ul li {
    margin: 2rem;
  }
}
.about div.aboutsection .about2 ul {
  list-style-type: square;
}
.about div.aboutsection .about2 ul li {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}
@media (min-width: 1001px) {
  .about div.aboutsection .about2 ul li {
    margin-right: 7rem;
    margin-left: 3rem;
  }
}
@media (max-width: 1000px) {
  .about div.aboutsection .about2 ul li {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 0rem;
  }
}
@media (max-width: 800px) {
  .about div.aboutsection .about2 ul li {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 0rem;
  }
}
@media (max-width: 500px) {
  .about div.aboutsection .about2 ul li {
    margin: 3rem;
    margin-top: 0rem;
  }
}
@media (max-width: 320px) {
  .about div.aboutsection .about2 ul li {
    margin: 2rem;
    margin-top: 0rem;
  }
}
.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
.footer div :hover {
  background-color: skyblue;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
.footer div a {
  text-decoration: none;
  color: black;
}
.footer div a h1 {
  padding: 2rem;
  font-size: 1.5rem;
}
.footer div a h2 {
  padding: 2rem;
}
.footer p {
  padding: 2rem;
}
.loginWrapper {
  box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgba(0, 0, 0, 0.2);
  height: 100%;
}
.loginWrapper .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
}
.loginWrapper .login div.logintitle {
  margin-top: 5.8rem;
  margin-bottom: 2rem;
}
@media (max-width: 320px) {
  .loginWrapper .login div.logintitle {
    font-size: 1rem;
  }
}
.loginWrapper .login span.validate {
  font-size: 0.8rem;
  color: black;
}
.loginWrapper .login span.spanimage {
  font-size: 3rem;
}
@media (max-width: 320px) {
  .loginWrapper .login span.spanimage {
    font-size: 1rem;
  }
}
.loginWrapper .login span {
  font-size: 1rem;
  text-align: center;
  color: red;
}
@media (max-width: 320px) {
  .loginWrapper .login span {
    font-size: 0.5rem;
  }
}
.loginWrapper .login form {
  background-color: #9eddff;
  padding: 2rem;
  margin-bottom: 5.8rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.loginWrapper .login form label {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
}
.loginWrapper .login form input {
  border: lightgray;
  height: 1.5rem;
  margin-bottom: 2rem;
}
.loginWrapper .login form textarea {
  margin-bottom: 2rem;
}
.loginWrapper .login form select {
  margin-bottom: 2rem;
}
.loginWrapper .login form div.error {
  color: red;
  font-size: 1rem;
}
.loginWrapper .login form span {
  margin-bottom: 1rem;
}
div.loggingin {
  overflow: hidden;
  margin: auto;
  margin-top: 10rem;
  padding: 5rem;
  font-size: 3rem;
}
@media (max-width: 320px) {
  div.loggingin {
    font-size: 1rem;
  }
}
div.dasherror {
  overflow: hidden;
  margin: auto;
  margin-top: 10rem;
  padding: 5rem;
  font-size: 3rem;
}
@media (max-width: 320px) {
  div.dasherror {
    font-size: 1rem;
  }
}
.dash {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgba(0, 0, 0, 0.2);
}
.dash div.dashContainer1 {
  margin-right: 10%;
  margin-left: 10%;
}
.dash div.dashContainer1 h2.dashH {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
@media (max-width: 320px) {
  .dash div.dashContainer1 h2.dashH {
    text-align: center;
    margin-left: 0rem;
  }
}
.dash div.dashDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash div.dashDetailsContainer div.dashDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.dash div.dashDetailsContainer div.dashDetails :hover {
  background-color: skyblue;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
.dash div.dashDetailsContainer div.dashDetails a {
  text-decoration: none;
  color: black;
  border: solid skyblue;
  padding: 0.8rem;
  border-radius: 2rem;
}
.dash div.dashDetailsContainer div.dashDetails a p {
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 320px) {
  .dash div.dashDetailsContainer div.dashDetails a p {
    text-align: center;
    font-size: 1rem;
  }
}
.footerSign {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  overflow: hidden;
}
@media (max-width: 500px) {
  .footerSign {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .footerSign {
    flex-direction: column;
    text-align: center;
  }
}
.footerSign div :hover {
  background-color: skyblue;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}
.footerSign div a {
  text-decoration: none;
  color: black;
}
.footerSign div a h1 {
  padding: 2rem;
  font-size: 1.5rem;
}
.footerSign div a h2 {
  padding: 2rem;
}
.footerSign p {
  padding: 2rem;
}
.navFriend {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  background-color: lightskyblue;
  overflow: hidden;
}
.navFriend div :hover {
  background-color: white;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
.navFriend div a {
  text-decoration: none;
  color: black;
}
.navFriend div a h1 {
  padding: 2rem;
  font-size: 1.5rem;
}
.navFriend div a h2 {
  padding: 2rem;
}
div.tripList {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  overflow: hidden;
}
@media (max-width: 320px) {
  div.tripList {
    margin: 0rem;
  }
}
div.tripList div.addtrip1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
div.tripList div.addtrip1 h2.tripListH {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
@media (max-width: 320px) {
  div.tripList div.addtrip1 h2.tripListH {
    text-align: center;
    font-size: 1rem;
  }
}
div.tripList div.addtrip1 div.addtrip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.tripList div.addtrip1 div.addtrip :hover {
  background-color: skyblue;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
div.tripList div.addtrip1 div.addtrip a {
  text-decoration: none;
  color: black;
  border: solid skyblue;
  padding: 0.8rem;
  border-radius: 2rem;
  margin: 1rem;
}
div.tripList div.addtrip1 div.addtrip a p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
@media (max-width: 800px) {
  div.tripList div.addtrip1 div.addtrip a p {
    text-align: center;
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  div.tripList div.addtrip1 div.addtrip a p {
    text-align: center;
    font-size: 1rem;
  }
}
.trip {
  display: flex;
  flex-direction: row;
  margin: 0.6rem;
  background-color: #bae9ff;
  border-radius: 3rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 800px) {
  .trip {
    flex-direction: column;
    margin: 0rem;
    padding: 4rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .trip {
    flex-direction: column;
    margin: 0rem;
    padding: 4rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 320px) {
  .trip {
    flex-direction: column;
    margin: 0rem;
    padding: 4rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1001px) {
  .trip div.tripdiv1 {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .trip div.tripdiv1 {
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .trip div.tripdiv1 {
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .trip div.tripdiv1 {
    flex-direction: column;
    width: 100%;
    margin: 0rem;
    text-align: center;
  }
}
.trip div.tripdiv1 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 800px) {
  .trip div.tripdiv1 div {
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .trip div.tripdiv1 div {
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 320px) {
  .trip div.tripdiv1 div {
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.trip div.tripdiv1 div h6 {
  margin-bottom: 1rem;
  margin-right: 2rem;
}
@media (min-width: 415px) {
  .trip div.tripdiv1 div h6 {
    font-size: 2rem;
    margin: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 500px) {
  .trip div.tripdiv1 div h6 {
    margin: 0rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 320px) {
  .trip div.tripdiv1 div h6 {
    margin: 0rem;
    margin-bottom: 0.5rem;
  }
}
.trip div.tripdiv1 div h2 {
  font-family: "Roboto Condensed", sans-serif;
}
@media (max-width: 800px) {
  .trip div.tripdiv1 div h2 {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
@media (min-width: 415px) {
  .trip div.tripdiv1 div h2 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}
.trip div.tripdiv2 {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .trip div.tripdiv2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-top: solid skyblue;
    padding-top: 1rem;
  }
}
.trip div.tripdiv2 :hover {
  background-color: white;
  transition: 0.6s;
  cursor: pointer;
}
.trip div.tripdiv2 a {
  text-decoration: none;
  color: black;
}
.trip div.tripdiv2 a p {
  font-size: 1rem;
  padding: 2rem;
}
.trip div.tripdiv3 {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .trip div.tripdiv3 {
    display: flex;
    flex-direction: column;
  }
}
.trip div.tripdiv3 div button {
  border: none;
  background: none;
  margin: 0;
}
.trip div.tripdiv3 div button p {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 2rem;
}
@media (max-width: 800px) {
  .trip div.tripdiv3 {
    text-align: center;
    margin-bottom: 1rem;
    border-top: solid skyblue;
    border-bottom: solid skyblue;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }
}
.trip div.tripdiv3 :hover {
  background-color: white;
  transition: 0.6s;
  cursor: pointer;
}
.trip div.tripdiv3 a {
  text-decoration: none;
  color: black;
}
.trip div.tripdiv3 a p {
  font-size: 1rem;
  padding: 2rem;
}
div.tripDetails {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0 -11px 8px -10px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  align-items: center;
}
div.tripDetails h1 {
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
}
div.tripDetails div.updateTrip {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  align-items: center;
}
div.tripDetails div.updateTrip :hover {
  background-color: skyblue;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
div.tripDetails div.updateTrip a {
  text-decoration: none;
  color: black;
  border: solid skyblue;
  padding: 0.8rem;
  border-radius: 2rem;
  margin: 1rem;
}
div.tripDetails div.updateTrip a p {
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 320px) {
  div.tripDetails div.updateTrip a p {
    text-align: center;
    font-size: 1rem;
  }
}
div.tripDetails div.updateTrip button {
  border: none;
  background: none;
  margin: 0;
  text-decoration: none;
  color: black;
  border: solid skyblue;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 1rem;
}
div.tripDetails div.updateTrip button p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}
div.tripDetails .tripstuff1 {
  margin-top: 1rem;
  background-color: #bae9ff;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
div.tripDetails .tripstuff1 div.tripstuffnames {
  margin-right: 2rem;
}
div.tripDetails .tripstuff1 div.tripstuffnames h2.flighth2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}
div.tripDetails .tripstuff1 div.tripstuffvalues p {
  font-family: "Roboto Condensed", sans-serif;
}
div.tripDetails .tripstuff2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  div.tripDetails .tripstuff2 {
    flex-direction: column;
  }
}
div.tripDetails .tripstuff2 :hover {
  background-color: skyblue;
  color: black;
  transition: 0.6s;
  cursor: pointer;
}
div.tripDetails .tripstuff2 a {
  text-decoration: none;
  color: black;
  border: solid skyblue;
  padding: 0.8rem;
  border-radius: 2rem;
  margin: 1rem;
}
